.placeholder {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  &__top {
    width: 18rem;
    height: 28rem;
    background-color: rgba($color-gray-3, 0.5);
  }

  &--text {
    width: 100%;
    background-color: rgba($color-gray-3, 0.5);
  }

  &--price {
    width: 60%;
    background-color: rgba($color-gray-3, 0.5);
  }
}
