// Color

//Green
$color-green-1: #5ece7b;

// White
$color-white: #ffffff;

//Gray
$color-gray-1: #dadce0;
$color-gray-2: #eeeeee;
$color-gray-3: #a8acb0;
//Text color
$color-text-1: #1d1f22;

//Black
$color-text-black-1: #1d1f22;

// Font(s)

$font-raleway: 'Raleway', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-robo-condensed: 'Roboto Condensed', sans-serif;
